h2 {
    text-transform: uppercase;
}

h3, h4 {
    text-transform: capitalize;
}

.SalonPage {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.Menu {
    position: fixed;
    padding-top: 15px;
    width: 15%;
    height: 80%;
    font-size: calc(15px + 0.5vw);
    border-style: hidden;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.Menu h3 {
    size: 10px;
    font-weight: normal;
}

.Logo {
    padding: 10px;
    width: 70%;
}

.Content {
    margin-left: 15%;
    margin-right: 30%;
    padding: 10px;
    width: 60%;
    border-style: hidden;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.Title {
    display: flex;
    justify-content: space-between;
    font-size: calc(15px + 0.5vw);
}

.About {
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 0.5vw);
}

.Section-title {
    display: flex;
    justify-content: flex-start;
}

.Section-description {
    display: flex;
    justify-content: flex-start;
}

.Services {
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 0.5vw);
}

.Services-infos h4 {
    display: flex;
    justify-content: flex-start;
}

.Info {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr;
    align-items: center;
}

.Info p:first-of-type {
    text-align: start;
}

.Info p:last-of-type {
    text-align: end;
}

.Gallery {
    display: flex;
    flex-direction: column;
}

.Gallery-images {
    display: flex;
    flex-direction: row;
}

.Gallery img {
    padding: 5px;
}

.Contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: calc(10px + 0.5vw);
}
