.Calendar {
    top: 10px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    width: 65%;
    /*max-height: 100%;                                                                              DE MODIFICAT!*/
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    color: #ff000a;
    overflow: auto;
}

.Week {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-left: 1px;
    border-right: 1px;
    border-color: black;
}


.Week h1:hover {
    cursor: pointer;
}

.Day {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
}

h1 {
    text-align: center;
}

.Day:active {
    color: green;
}

.TimeSlots {
    font-size: 2vw;
    overflow: auto;
}

.TimeSlots p:hover {
    cursor: pointer;
}


.TimeSlots p:active {
    color: green;
}
