.SalonApp {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    margin-top: 35px;
    width: auto;
    height: auto;
    background-size: cover;
    z-index: 0;
    background-repeat: no-repeat;
}

.VerticalLine {
    padding: 10px;
    border-left: 2px solid silver;
    height: 800px;
}

.Menu {
    padding-top: 25px;
    width: 20%;
}

.Logo {
    padding: 10px;
    width: 100%;
}

.Item {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.Content {
    padding: 10px;
    width: 60%;
}

.Title {
    display: flex;
    justify-content: flex-start;
}

.About {
    display: flex;
    flex-direction: column;
}

.Section-title {
    display: flex;
    justify-content: flex-start;
}

.Section-description {
    display: flex;
    justify-content: flex-start;
}

.Services {
    display: flex;
    flex-direction: column;
}

.Services-infos {
    display: flex;
    flex-direction: column;
}

.Info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Gallery {
    display: flex;
    flex-direction: column;
}

.Gallery-images {
    display: flex;
    flex-direction: row;
}

.Gallery img {
    padding: 5px;
}

.Contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
