.homepage_Logo {
    position: absolute;
    width: 50%;
    height: 25vw;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
}

.Homepage_Gif {
    position: static;
    right: 0;
    left: 0;
    width: 100%;
    margin-top: calc(40px + 11vw);
    height: 16vw;
    border-style: outset;
    border-width: 0 0 1px 0;
}

.Description{
    text-align: center;
    font-weight: bold;
    color: #263543;
    margin: 10px auto 10px auto;
    font-size: calc(15px + 1vw);
}