h5 {
    text-transform: capitalize;
}

.ShoppingCart {
    position: fixed;
    display: block;
    right: 5%;
    text-align: start;
    width: 20%;
    height: 80%;
    font-size:calc(10px + 0.5vw);
    border-style: hidden;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #f7f5f7;
}

.ShoppingCart .Info {
    display: grid;
    grid-template-columns: 1fr 1fr 30px;
    align-items: center;
}

.ShoppingCart .Info p:nth-of-type(2) {
    text-align: end;
}

.ShoppingCart .gr {
    justify-self: end;
}

.Total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ff000a;
}

.Popup {
    padding: 10px;
}

.PopupNotLoggedIn {
    text-align: center;
    color: #ff000a;
}

.Close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.Services {
    padding: 0 10px 0 10px;
}

.Total {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: calc(50px + 0.6vw);
    padding: 0 10px 0 10px;
    width: 90%;
}

.Total h4 {
    display: flex;
    justify-content: space-around;
}

.ServiciiSelectate {
    padding: 0 10px 0 10px;
    color: #ff000a;
}

.TimePickButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(7px + 0.6vw);
    height: calc(50px + 0.6vw);
    cursor: pointer;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.TimePickButton:disabled {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(7px + 0.6vw);
    cursor: pointer;
    width: 100%;
    bottom: 0;
}

.datePick {
    font-size: 100px;
}

.ScheduleButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(7px + 0.7vw);
    cursor: pointer;
    width: 100%;
    height: calc(25px + 0.3vw);
    position: absolute;
    bottom: calc(25px + 0.3vw);
}

.TimePickButton p {
    font-size: 50%;
}

.ScheduleButton:disabled {
    background-color: grey;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(7px + 0.7vw);
    width: 100%;
    height: calc(25px + 0.3vw);
    position: absolute;
    bottom: calc(25px + 0.3vw);
}

.BackButton {
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(4px + 0.7vw);
    cursor: pointer;
    width: 100%;
    height: calc(25px + 0.3vw);
    position: absolute;
    bottom: 0;
}