.SalonPicker {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    width: 90%;
}

.SalonCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.InfoCard {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.InfoCard img {
    padding: 10px;
    height: 100px;
    width: 100px;
}

.SalonInfo {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.SalonInfo p {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: flex-start;
}

.Review {
    padding: 10px;
}

.Review p {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: flex-end;
}

.Stars {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Stars img {
    height: 15px;
    width: 15px;
}

#di1 {
    display: flex;
    justify-content: center;
}

#di2 {
    display: flex;
    justify-content: flex-start;
}

#di4 {
    display: flex;
    justify-content: flex-start;
}

#di5 {
    display: flex;
    justify-content: flex-start;
}

#di6 {
    display: flex;
    justify-content: flex-start;
}
