#asezare {
    display: flex;
    flex-direction: column;
}

#tablou {
    display: inline-grid;
    row-gap: 3px;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    flex-direction: column;
    overflow: hidden;
}

#d1 {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 5;
    justify-content: center;
}

#d2 {
    display: flex;
    grid-row: 1;
    grid-column: 2;
    justify-content: flex-start;
}

#d3 {
    display: flex;
    grid-row: 1;
    grid-column: 3;
    justify-content: flex-end;
}

#d4 {
    display: flex;
    grid-row: 2;
    grid-column: 2;
    justify-content: flex-start;
}

#d5 {
    display: flex;
    grid-row: 3;
    grid-column: 2;
    justify-content: flex-start;
}

#d6 {
    display: flex;
    grid-row: 4;
    grid-column: 2;
    justify-content: flex-start;
}

#d7 {
    display: flex;
    grid-row: 2;
    grid-column: 3;
    justify-content: flex-end;
}

#d8 {
    display: flex;
    grid-row: 4;
    grid-column: 3;
    justify-content: flex-end; 
}

#di1 {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column: 3;
    justify-content: center;
}

#di2 {
    display: flex;
    grid-row: 1;
    grid-column: 1;
    justify-content: flex-start;
}

#di3 {
    display: flex;
    grid-row: 1;
    grid-column: 2;
    justify-content: flex-end;
}

#di4 {
    display: flex;
    grid-row: 2;
    grid-column: 1;
    justify-content: flex-start;
}

#di5 {
    display: flex;
    grid-row: 3;
    grid-column: 1;
    justify-content: flex-start;
}

#di6 {
    display: flex;
    grid-row: 4;
    grid-column: 1;
    justify-content: flex-start;
}

#di7 {
    display: flex;
    grid-row: 2;
    grid-column: 2;
    justify-content: flex-end;
}

#di8 {
    display: flex;
    grid-row: 4;
    grid-column: 2;
    justify-content: flex-end;
}

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}
  
.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
}

/* Other style */ 
body {
    padding: 2%;
}

p {
    padding: 2%;
    background: #fff9c6;
    color: #c7b27e;
    border: 1px solid #fce29f;
    border-radius: .25em;
}

/*tentativa de drop la salon*/

.dropdown-salon {
    float: none;
    overflow: hidden;
}

.dropdown-salon .dropbtn-salon {
    font-size: 16px;  
    border: none;
    outline: none;
    color: grey;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content-salon {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-salon a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-salon:hover .dropdown-content-salon {
    display: block;
}