body {
    background-color: #dce3e5;
}

.App {
    font-family: 'Open Sans', sans-serif;
    width: auto;
    height: auto;
    background-size: cover;
    z-index: 0;
    background-repeat: no-repeat;
}

.NavBar {
    top: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    background-color: #263543;
}

.NavBarHelp {
    position: absolute;
}

.Item {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #263543;
}

.Item img {
    padding: 5px;
    align-self: center;
}

.Item h2 {
    font-size: calc(4px + 0.6vw);
    color: #f7f5f7;
    text-decoration: none;
}

.Item:hover {
    background-color: #2c4654;
}

.Left {
    float: left;
}

.Right {
    float: right;
}

.SmallGif {
    height: calc(20px + 0.8vw);
    width: calc(20px + 0.8vw);
}

.AppPage {
    padding: 10px;
    margin-top: 50px;
}
