body {
    background-color: #dce3e5;
}

.App {
    font-family: 'Open Sans', sans-serif;
    width: auto;
    height: auto;
    background-size: cover;
    z-index: 0;
    background-repeat: no-repeat;
}

.NavBar {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    background-color: #263543;
}

.Item {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #263543;
}

.Item img {
    padding: 5px;
    align-self: center;
}

.Item h2 {
    font-size: 15px;
    color: #ff000a;
    text-decoration: none;
}

.Item:hover {
    background-color: #2c4654;
}

.Left {
    height: 15px;
    width: 15px;
    color: #f7f5f7;
}

.Right {
    height: 20px;
    width: 20px;
}

.AppPage {
    padding: 10px;
    margin-top: 50px;
}
