.MainApp {
    font-family: 'Open Sans', sans-serif;
    width: auto;
    height: auto;
    background-size: cover;
    z-index: 0;
    background-repeat: no-repeat;
}

.NavBar {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
    background-color: white;
    align-items: center;
}

.Item {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.Item img {
    padding: 5px;
    align-self: center;
}

.Item h2 {
    font-size: 15px;
    color: grey;
    text-decoration: none;
}

.Item:hover {
    background-color: red;
}

.Left {
    height: 15px;
    width: 15px;
}

.Right {
    height: 20px;
    width: 20px;
}

.AppPage {
    padding: 10px;
    margin-top: 50px;
}
